/* .head {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  
    font-family: emoji;
    font-size: xx-large;
    background-color: red;
  }
  
  .img {
    float: left;
    margin: 20px 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  
  .paragraph {
    font-size: 17px;
    margin: 20px;
    color: #cbc4c4;
    background-color: red;
}  */