.flex{
    display: flex;
    flex-wrap: wrap;
}
.shoping_cart{
    justify-content: space-between;
    background-color: rgb(195, 196, 196);
    padding: 20px 30px;
}
.product-item{
    padding: 20px;
}
.h1{
    margin-left: 480px;
    margin-right: 230px;
}
.cart{
    background-color: rgb(230, 233, 227);
    color: rgb(243, 87, 9);
    margin-left: 100px;
    
}